@media screen and (max-width: 1090px) and (min-width: 1019px) {
    #restaurants-list {
        margin: 0 auto;
        width: 70%;
        background-color: #f3f3f3;
        list-style: outside none none;
        text-align: center;
        padding-top: 30px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 1018px) and (min-width: 888px) {
    #restaurants-list {
        margin: 0 auto;
        width: 80%;
        background-color: #f3f3f3;
        list-style: outside none none;
        text-align: center;
        padding-top: 30px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 887px) and (min-width: 766px) {

    #restaurants-list li {
        width: 90%;
        padding: 15px 20px 15px;
    }
    #restaurants-list .restaurant-img {
        display: block;
        margin: 0;
        max-width: 100%;
        min-height: 100px;
        min-width: 0;
        height: 200px;
        float: left;
    }
    #restaurants-list li p,
    a {
        font-size: 1.3em;
    }
    #restaurants-list li h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 765px) and (min-width: 593px) {

    #restaurants-list li {
        width: 90%;
        padding: 15px 20px 15px;
    }
    #restaurants-list .restaurant-img {
        display: block;
        margin: 0;
        max-width: 100%;
        min-height: 100px;
        min-width: 0;
        height: 200px;
        float: left;
    }
}

@media screen and (max-width: 592px) and (min-width: 440px){
    #restaurants-list li {
        margin-right: auto;
        margin-left: 8%;
        width: 60%;
    }
    #restaurants-list li h1 {
        margin: 0;
        margin-top: 10px;
        font-size: 14px;
    }
    #restaurants-list li a {
        clear: both;
        padding: 8px 10px 10px;
    }
    .filter-options select {
        width: 150px;
    }
}

@media screen and (max-width: 439px) and (min-width: 360px){
    nav {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .filter-options {
        height: 120px;
    }
    #cuisines-select {
        margin-top: 15px;
    }
    #restaurants-list {
        background-color: #f3f3f3;
        list-style: outside none none;
        margin: 0;
        padding: 2px;
        padding-top: 10px;
        text-align: center;
    }
    #restaurants-list .restaurant-img {
        background-color: white;
        display: block;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        width: auto;
        padding-right: 0;
    }
    #restaurants-list li {
        background-color: #f3f3f3;
        border: 0px;
        font-family: Arial,sans-serif;
        margin-bottom: 15px;
        margin-right: auto;
        padding: 0 10px 10px;
        text-align: center;
        float: left;
        width: 92%;
        margin-left: auto;
    }
    #restaurants-list li h1 {
        margin: 5px 0 5px;
    }
    #restaurants-list li a {
        margin: 5px 0 0;
    }
}